@font-face {
    font-family: 'CharisSILBold';
    src: url('fonts/charissilb-webfont.eot');
    src: url('fonts/charissilb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/charissilb-webfont.woff') format('woff'),
         url('fonts/charissilb-webfont.ttf') format('truetype'),
         url('fonts/charissilb-webfont.svg#CharisSILBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CharisSILRegular';
    src: url('fonts/charissilr-webfont.eot');
    src: url('fonts/charissilr-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/charissilr-webfont.woff') format('woff'),
         url('fonts/charissilr-webfont.ttf') format('truetype'),
         url('fonts/charissilr-webfont.svg#CharisSILRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CharisSILItalic';
    src: url('fonts/charissili-webfont.eot');
    src: url('fonts/charissili-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/charissili-webfont.woff') format('woff'),
         url('fonts/charissili-webfont.ttf') format('truetype'),
         url('fonts/charissili-webfont.svg#CharisSILItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CharisSILBoldItalic';
    src: url('fonts/charissilbi-webfont.eot');
    src: url('fonts/charissilbi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/charissilbi-webfont.woff') format('woff'),
         url('fonts/charissilbi-webfont.ttf') format('truetype'),
         url('fonts/charissilbi-webfont.svg#CharisSILBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

.main-content,
body#tinymce {
    font-family: 'CharisSILRegular';
}
.main-content strong,
body#tinymce  strong,
.main-content b,
body#tinymce  b {
    font-family: 'CharisSILBold';
}
.main-content em,
body#tinymce  em,
.main-content i,
body#tinymce  i {
    font-family: 'CharisSILItalic';
}
.main-content em b,
body#tinymce  em b,
.main-content em strong,
body#tinymce  em strong,
.main-content i b,
body#tinymce  i b,
.main-content i strong,
body#tinymce  i strong,
.main-content b em,
body#tinymce  b em,
.main-content strong em,
body#tinymce  strong em,
.main-content b i,
body#tinymce  b i,
.main-content strong i,
body#tinymce  strong i {
    font-family: 'CharisSILBoldItalic';
}
