@font-face {
  font-family: 'CharisSILBold';
  src: url('fonts/charissilb-webfont.eot');
  src: url('fonts/charissilb-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/charissilb-webfont.woff') format('woff'),
    url('fonts/charissilb-webfont.ttf') format('truetype'),
    url('fonts/charissilb-webfont.svg#CharisSILBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CharisSILRegular';
  src: url('fonts/charissilr-webfont.eot');
  src: url('fonts/charissilr-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/charissilr-webfont.woff') format('woff'),
    url('fonts/charissilr-webfont.ttf') format('truetype'),
    url('fonts/charissilr-webfont.svg#CharisSILRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CharisSILItalic';
  src: url('fonts/charissili-webfont.eot');
  src: url('fonts/charissili-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/charissili-webfont.woff') format('woff'),
    url('fonts/charissili-webfont.ttf') format('truetype'),
    url('fonts/charissili-webfont.svg#CharisSILItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CharisSILBoldItalic';
  src: url('fonts/charissilbi-webfont.eot');
  src: url('fonts/charissilbi-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/charissilbi-webfont.woff') format('woff'),
    url('fonts/charissilbi-webfont.ttf') format('truetype'),
    url('fonts/charissilbi-webfont.svg#CharisSILBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular', sans-serif;
  src: url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/ProximaNova-Regular.otf')  format('opentype'),
    url('fonts/ProximaNova-Regular.woff') format('woff'), url('fonts/ProximaNova-Regular.ttf')  format('truetype'), url('fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNova-RegularIt', sans-serif;
  src: url('fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),  url('fonts/ProximaNova-RegularIt.otf')  format('opentype'),
    url('fonts/ProximaNova-RegularIt.woff') format('woff'), url('fonts/ProximaNova-RegularIt.ttf')  format('truetype'), url('fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold', sans-serif;
  src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-Bold.otf')  format('opentype'),
    url('ProximaNova-Bold.woff') format('woff'), url('ProximaNova-Bold.ttf')  format('truetype'), url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



.content, .page {
  font-family: "ProximaNova-Regular", sans-serif;
}
.content, .page h1 {
  font-family: "ProximaNova-Regular", serif;
}
.content, .page h2{
  font-family: "ProximaNova-Regular", serif;
}
.content, .page h3{
  font-family: "ProximaNova-Regular", serif;
}
.content, .page h4{
  font-family: "ProximaNova-Regular", serif;
}
.content, .page h5{
  font-family: "ProximaNova-Regular", serif;
}
.content, .page h6{
  font-family: "ProximaNova-Regular", serif;
}
.content, .page strong,
strong,
.content, .page b,
b {
  font-family: 'ProximaNova-Bold', sans-serif;
}
.content, .page em,
em,
.content {
  font-family: 'ProximaNova-RegularIt', sans-serif;
}
/*.content, .page .shloka{
  font-family: 'CharisSILBold';
}*/

